{{ $recentArticles := 5 }}
{{ $recentArticles = .Site.Params.homepage.showRecentItems }}

{{ $articles := where .Site.RegularPages "Type" "in" .Site.Params.mainSections}}

{{ $current := slice }}
{{ range $articles}}
  {{if or
    (ge .Params.endDate now)
    (eq .Params.endDate nil)
  }}
  {{ $current = $current | append . }}
  {{end}}
{{ end }}

<section class="space-y-10 w-full">
  {{ range first $recentArticles (.Paginate $current).Pages
  }}
  {{ partial "article-link/simple.html" . }}
  {{ end }}
</section>